@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 0 0.02% 3.94%;
    --card: 0 0% 100%;
    --card-foreground: 0 0.02% 3.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0.02% 3.94%;
    --primary: 0 0.02% 9.06%;
    --primary-foreground: 0 0.5% 98.03%;
    --secondary: 0 0.24% 96.06%;
    --secondary-foreground: 0 0.02% 9.06%;
    --muted: 0 0.24% 96.06%;
    --muted-foreground: 0 0.01% 45.16%;
    --accent: 0 0.24% 96.06%;
    --accent-foreground: 0 0.02% 9.06%;
    --destructive: 351.72 100% 40.53%;
    --destructive-foreground: 0 0.5% 98.03%;
    --success: 129 57% 33%;
    --success-foreground: 129 79% 75%;
    --border: 0 0.09% 89.82%;
    --input: 0 0.09% 89.82%;
    --ring: 0 0.02% 63.02%;
    --chart-1: var(--color-blue-300);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-blue-700);
    --chart-5: var(--color-blue-800);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --surface: 0 0.37% 97.38%;
    --surface-foreground: var(--foreground);
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: 0 0.18% 94.76%;
    --code-number: 0 0.01% 45.61%;
    --selection: 0 0.02% 3.94%;
    --selection-foreground: 0 0% 100%;
  }

  .dark {
    --background: 0 0.02% 3.94%;
    --foreground: 0 0.5% 98.03%;
    --card: 0 0.02% 9.06%;
    --card-foreground: 0 0.5% 98.03%;
    --popover: 0 0.01% 14.94%;
    --popover-foreground: 0 0.5% 98.03%;
    --primary: 0 0.09% 89.82%;
    --primary-foreground: 0 0.02% 9.06%;
    --secondary: 0 0.01% 14.94%;
    --secondary-foreground: 0 0.5% 98.03%;
    --muted: 0 0.01% 14.94%;
    --muted-foreground: 0 0.02% 63.02%;
    --accent: 0 0.01% 25.05%;
    --accent-foreground: 0 0.5% 98.03%;
    --destructive: 358.76deg 100% 69.84%;
    --destructive-foreground: 0 0.5% 98.03%;
    --success: 129 57% 33%;
    --success-foreground: 129 79% 75%;
    --border: 0 0% 18.43%;
    --input: 0 0% 22.75%;
    --ring: 0 0.01% 45.16%;
    --chart-1: var(--color-blue-300);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-600);
    --chart-4: var(--color-blue-700);
    --chart-5: var(--color-blue-800);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --surface: 0 0.02% 8.61%;
    --surface-foreground: 0 0.02% 63.02%;
    --code: var(--surface);
    --code-foreground: var(--surface-foreground);
    --code-highlight: 0 0.01% 15.04%;
    --code-number: 0 0.02% 64.48%;
    --selection: 0 0.09% 89.82%;
    --selection-foreground: 0 0.02% 9.06%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .link,
  .prose a {
    @apply dark:text-[#7ab7ff] dark:hover:text-[#5e83b3] text-[#2964aa] hover:text-[749ac8];
  }
  .prose a {
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .prose {
    max-width: 100%;
    overflow-wrap: break-word;
  }
  
  .day-cell {
    @apply p-2 rounded-md hover:bg-accent size-8 cursor-pointer flex items-center justify-center;
  }
}

.rdp-week {
  @apply gap-2;
}

.docs {
  h3 {
    @apply flex items-start gap-2 text-xl lg:text-2xl font-semibold; 
  }
  blockquote{
    @apply bg-input/30 border-l-2 p-2 rounded-md overflow-hidden border-accent pl-4 italic;
  }
}