@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-sm::-webkit-scrollbar {
  @apply w-1 h-1;
}
*::-webkit-scrollbar {
  @apply w-2 h-2;
}

*::-webkit-scrollbar-track{
  @apply bg-accent rounded-full;
}
*::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground/50 rounded-full;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}


.tiptap::-webkit-scrollbar {
  @apply hidden;
}

div:has(> .tiptap.ProseMirror) {
  flex: 1;
  overflow-y: auto;
}
.tiptap {
  @apply relative w-full border-none outline-none mx-auto bg-background text-primary font-sans leading-relaxed max-w-screen-md overflow-x-hidden p-4;

  >img{
    @apply max-h-[50vh] rounded-xl;
  }
  .code-block {
    @apply relative;

    select {
      @apply absolute bg-white right-[0.5rem] left-[0.5rem];
      position: absolute;
      background-color: var(--white);
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="Black" d="M7 10l5 5 5-5z"/></svg>');
      right: 0.5rem;
      top: 0.5rem;
    }
  }
  li{
    margin-bottom: 8px;
  }
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li[data-checked="true"] p {
      @apply text-muted-foreground line-through 
    }

    input[type="checkbox"]:checked{
      @apply bg-primary
    }
    input[type="checkbox"]:checked::before {
      content: '';
      /* Unicode for check mark */
      @apply absolute inset-0 flex items-center justify-center text-black;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check h-4 w-4"><path d="M20 6 9 17l-5-5"></path></svg>');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain
    }

    input[type="checkbox"] {
      @apply cursor-pointer overflow-hidden relative appearance-none w-4 h-4 border border-primary rounded-sm;
    }
    
    li {
      @apply flex items-start;

      p{
        @apply font-semibold
      }
      >label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      >div {
        flex: 1 1 auto;
      }
    }

    /* styles.css */

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  h1 {
    @apply text-3xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-bold mb-4;
  }

  h3 {
    @apply text-xl font-bold mb-4;
  }

  h4 {
    @apply text-lg font-bold mb-4;
  }

  h5 {
    @apply text-base font-bold mb-4;
  }

  h6 {
    @apply text-sm font-bold mb-4;
  }

  >p {
    @apply my-6;
  }

  a {
    @apply text-blue-400 no-underline hover:underline;
  }

  ul {
    @apply list-disc px-8 my-8;
  }

  ol {
    @apply list-decimal px-8 my-8;
  }


  code {
    @apply bg-accent p-0.5 px-1 rounded whitespace-pre-wrap;
  }
  pre {
    @apply bg-[#171717] text-[#e6edf3] dark:text-primary border-input border rounded-md my-12 p-2 pt-16 overflow-x-auto;

    code{
      @apply bg-[#171717]   whitespace-nowrap p-0;
    } 
    

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161 !important;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
    code {
      white-space: pre !important;
    }
  }


  blockquote {
    @apply border-l-4 border-input pl-4 italic  text-muted-foreground my-6;
  }

  hr {
    @apply border-t border-input my-6;
  }

  table {
    @apply w-full mb-6 border-collapse rounded-lg overflow-hidden;
  }
  
  th,
  td {
    @apply border border-input p-2 ;
  }

  th {
    @apply bg-gray-800 font-bold;
  }

  td {
    @apply bg-gray-900;
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    width: max-content !important;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      @apply border border-input bg-background whitespace-nowrap;
      /* min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top; */

      > * {
        margin-bottom: 0;
      }
    }

    th {
      @apply bg-accent/70 font-semibold text-left;
    }

    .selectedCell:after {
      background: var(--gray-2);
      content: "";
      left: 0; right: 0; top: 0; bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: var(--purple);
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
  p.is-editor-empty::before {
    @apply text-muted-foreground/40 float-left h-0 pointer-events-none;
    content: attr(data-placeholder);
  }

  /* Placeholder (on every new line) */
  p.is-empty::before {
    @apply text-muted-foreground/40 float-left h-0 pointer-events-none;
    content: attr(data-placeholder);
  } 
}
.tippy-arrow::before{
  @apply hidden;
}
.tippy-content{
  @apply bg-popover text-popover-foreground border shadow-md rounded-lg p-1 max-h-[300px] overflow-y-auto;
  padding: 4px !important;
}
.tippy-box{
  width: 256px;
  overflow: hidden !important;
  background-color: transparent !important;
  padding: 0 !important;
}
.tippy-content::-webkit-scrollbar {
  @apply w-1 h-1
}
